@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --layout-padding: 5rem;
  --layout-padding-mobile: 2rem;
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  background: radial-gradient(rgba(90, 69, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #0e0f24;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
